@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap");

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

.game-intro {
  text-align: center;
  font-weight: bold;
}

#game-won {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

#game-won p {
  width: 700px;
  line-height: 1.2;
}

#score {
  font-size: 20px;
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#game-over {
  color: #fc05cf;
  text-align: center;
  font-weight: bold;
  margin-top: 200px;
}

#game-won h1 {
  color: #fc05cf;
  text-align: center;
  font-weight: bold;
  margin-top: 200px;
}

#background-color {
  width: 100%;
  height: 700px;
  text-align: center;
}

h1 {
  font-size: 50px;
  padding-top: 30px;
}

h4 {
  font-size: 20px;
}

body button {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: white;
  padding: 15px 35px;
  border: 0;
  width: 300px;
  text-align: center;
  font-weight: bolder;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  height: 33px;
  margin-left: 20px;
  margin-top: 5px;
}

.footer-music-reference {
  font-size: 9px;
  text-align: center;
  margin-top: -10px;
}

.instructions {
  margin: 10px 80px;
  line-height: 1.5rem;
}
.instruction-title {
  margin-top: 15px;
}

.game-board {
  float: center;
  padding: 20px 0px;
}

/*
#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 8px black;
  margin-top: 50px;
  margin-left: 50px;
}*/
