@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
}

.game-intro {
  text-align: center;
  font-weight: bold;
}

#game-won {
  text-align: center;
  font-weight: bold;
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#game-over {
  color: #fc05cf;
  text-align: center;
  font-weight: bold;
}

#background-color {
  width: 100%;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 50px;
  padding-top: 30px;
}

h4 {
  font-size: 20px;
}

body button {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: white;
  padding: 15px 35px;
  border: 0;
  width: 270px;
  text-align: center;
  font-weight: bolder;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  font-family: "Press Start 2P", cursive;
  font-size: 7pt;
  height: 50px
}

.instructions {
  margin: 10px 100px;
  line-height: 1.5rem;
}
